@import './src/scss/variables.scss';
@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';
// .App {
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background:$redColor;
  }
  
  .site-layout-background {
    background: $blueColor;
  }
// }

